    /******************************************************** 
    GENERAL HTML, BODY 
    ********************************************************/
            
    html *
    {
        font-family: 'Open Sans', sans-serif;
    }
    
    body
         {
        background:#FFF;
    }

    /****************************************************** 
    NAV BAR
    *******************************************************/
       
    #topnav{
        list-style:none;
        width:720px;
        margin:0 auto;
        padding:0;
        background: #f0f0f0;
        border:1px solid #ddd;
        display: table;
    }

    #topnav li
        {
        border-right:1px solid #ddd;
        margin:0;
        padding:0; 
        display: table-cell;
        text-align:center;
        
    }

    #topnav li a 
        { 
        display:block;
        padding:10px;
        color:#333;
        text-decoration:none;
        height:100%;
    }

    #topnav li a:hover {
        background: #fff;
    }
    
    #topnav li a img{
        height:27px;
        width:auto;
    }

    /******************************************************************* 
    LAYOUT STRUCTURE 
    *******************************************************************/

    .contentBox
        {
        min-height:300px;
        border: solid 1px #ccc;
        margin-bottom: 5px;
    }
    
    #navwrap
        {
        position:fixed;  
        height:60px;
        width: 100%;
        top:0;
    }
    #pagewrap {
        padding: 5px;
        width: 960px;
        margin: 20px auto;
        padding-top: 50px;
        
    }
    
    /*** login page ***/
    
    #loginBox
        {
        width:300px;
        height:200px;
        position:absolute;
        left:50%;
        top:50%;
        margin:-100px 0 0 -150px;
        text-align:center;
    }
    
    /*** view requests page ***/

    #actionsBox {
        width: 290px;
        float: left;
        padding: 5px 15px;
        background: #f8f8f8;
    }

    #searchBox {
        width: 294px; /* Account for margins + border values */
        float: left;
        padding: 5px 15px;
        margin: 0px 5px 5px 5px;
    }

    #roundsBox {
        width: 270px;
        padding: 5px 15px;
        float: left;
        background: #f0efef;
    }
    #tableBox {
        clear: both;
        padding: 0 15px;
        margin-bottom: 0px;
    }

    /*** add requests page ***/
    
    #basicBox ,#roomSelectorBox 
	{
        min-width: 46.6%;
		
        float: left;
        padding: 5px 15px;
        background: #f8f8f8;
		min-height:340px;
    }
    
    #roomActionsBox {
        width: 180px; /* Account for margins + border values */
        float: left;
        padding: 5px 15px;
        margin: 0px 5px 5px 5px;
    }

    /* #roomSelectorBox {
        width: 270px;
        padding: 5px 15px;
        float: left;
        background: #f0efef;
    } */
    
    #inputWeeksBox {
        clear:both;
        padding: 5px 15px;
        min-height: 40px;
        background: #f8f8f8;
  
    }
    #inputTableBox {
        clear:both;
        padding: 5px 15px;
        margin-bottom: 5px;
    }
    
    #formControlsBox {
        clear:both;
        padding: 5px 15px;
        min-height: 40px;
        background: #f8f8f8;
  
    }
    
    #roomsList{
        height:300px;
        width:100%;
        border:1px solid #fff;
        overflow-y:auto;
    }
    
    #roomsList li{
        display:block;
        border:1px solid #ddd;
    }

    /*** account/prefrences pages ***/
    
    #userPrefBox {
        width: 441px;
        float: left;
        padding: 5px 15px;
        background: #f8f8f8;
        margin: 0px 5px 5px 0px;
    }
    
    #prefDemoBox {
        width: 450px;
        padding: 5px 15px;
        float: left;
        background: #f0efef;
    }
    
    /*** Timetable viewer page ***/
    
    #roomSelectorBox2 {
        width: 234px;
        float: left;
        padding: 5px 15px;
        background: #f8f8f8;
        height:700px;
    }
    
    #timetableActionsBox {
        width: 657px; /* Account for margins + border values */
        float: left;
        padding: 5px 15px;
        margin: 0px 0px 5px 5px;
        min-height:150px;
    }

    #timetableViewerBox {
        width: 657px;
        padding: 5px 15px;
        float: left;
        background: #f0efef;
        margin-left: 5px;
        height:533px;
    }
    
    /************************************************************************************
    MEDIA QUERIES - currently incomplete
    *************************************************************************************/
    /* for 980px or less */
    @media screen and (max-width: 980px) {
        
        #pagewrap {
            width: 94%;
        }
        #actionsBox {
            width: 41%;
            padding: 1% 4%;
        }
        #searchBox {
            width: 41%;
            padding: 1% 4%;
            margin: 0px 0px 5px 5px;
            float: right;
        }
        
        #roundsBox {
            clear: both;
            padding: 1% 4%;
            width: auto;
            float: none;
        }

        #tableBox {
            padding: 1% 4%;
        }
    }

    /* for 700px or less */
    @media screen and (max-width: 600px) {

        #actionsBox {
            width: auto;
            float: none;
        }
        
        #searchBox {
            width: auto;
            float: none;
            margin-left: 0px;
        }
        
        #roundsBox {
            width: auto;
            float: none;
        }

    }

    /* for 480px or less */
    @media screen and (max-width: 480px) {

        #roundsBox {
            display: none;
        }

    }


    /*** Input Table ***/
    
     #inputTable
        {
        border: 1px solid black;
        width: 100%;
        height:350px;
        border-collapse: collapse;
        
    }

    #inputTable *
    {
        border: 1px solid black;
        
    }
 
/*     #daysHeader, #daysChildren
        {
        
    } */
    
    .grid
        {
        cursor: pointer;
    }
    .grid:hover
        {
        background-color:#f8f8f8;
    }
    
    .gridClicked
        {
        background-color:#9B30FF;
        border: 2px solid black;
    }
    
    .gridClicked:hover
        {
        background-color:#BF3EFF;
    }
    
            
    /** weeks input **/

    .wkInput
        {
         display:none;
    }
	.specReq + label ,.specReqP + label,.roomSele + label, .wkInput + label, #wkLabel
        {
        display:inline-block;
        min-height:25px;
        min-width:100%;
		padding-top:5px;
		font-size: 16px;
		color: #333;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255,255,255,0.75);
		vertical-align: middle;
		background-color: #f5f5f5;
		background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
		background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
		background-image: -o-linear-gradient(top,#fff,#e6e6e6);
		background-image: linear-gradient(to bottom,#fff,#e6e6e6);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		border: 1px solid #ccc;
		border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		border-bottom-color: #b3b3b3;
	}
    .wkInput + label, #wkLabel    
        {
        display:inline-block;
        min-height:25px;
        min-width:8px;
		padding: 0px 15px;
        padding-top:5px;
		margin: 0;
        margin-left:-6px;
	}
    
    .wkInput + label
        {
        cursor: pointer;
    }
    
    .wkInput:checked + label,.specReq:checked + label  ,.specReqP:checked + label,.roomSele:checked + label
        {
		background-color:#9966FF;
		color: #FFF;
        background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    }
	#SemWekTab td
	{
		padding: 0px 5px;
	}
	/* Module selector */
	.modChooser
	{
		width:100%;
		
	}
	.modTable
	{
		width:100%;
		border-collapse: collapse;
		padding: 0px 0px;
	}
  /** specReq input **/

    .specReq, .specReqP, .roomSele
        {
         display:none;
    }
    
	.roomSele +label
	{
		 min-width:99%;
	}
	
	.specReqP + label
	{
        min-width:110px;
	}
	.specReq + label
        {
        cursor: pointer;
    }
    .specReq:disabled + label
	{
		color: #d9d9d9;
		background-image: none;
		outline: 0;
		background-color:#fdfdfd;
	}
	.specReqText
	{
		min-width:98%;
	}
